[submodule "vim-pathogen"]
	path = bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "dash.vim"]
	path = bundle/dash.vim
	url = git@github.com:rizzatti/dash.vim.git
