[submodule "dash.vim"]
	path = pack/versioned/opt/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "editorconfig-vim"]
	path = pack/versioned/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim-git"]
	path = pack/versioned/start/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim-pathogen"]
	path = pack/versioned/opt/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
