" gvimrc.local.sample
" -------------------
"
" SPDX-License-Identifier: CC0-1.0
"
" Written in 2021, 2025 by Lawrence Velazquez <vq@larryv.me>.
"
" To the extent possible under law, the author has dedicated all
" copyright and related and neighboring rights to this software to the
" public domain worldwide.  This software is distributed without any
" warranty.
"
" You should have received a copy of the CC0 Public Domain Dedication
" along with this software.  If not, see
" <https://creativecommons.org/publicdomain/zero/1.0/>.


" Copy to gvimrc.local and edit to taste.


silent! set guifont=Source\ Code\ Pro:h10

" Reset modelines.  (Uncomment these commands ONLY if the GUI lacks
" +eval and has patches 7.0.234 and 7.0.235.  No need to uncomment if
" vimrc.local already resets these.  See vimrc and README.markdown.)
"set modeline&
"set modelines&

" Prevent gvimrc from modifying listchars and showbreak to use non-ASCII
" characters.  (Uncomment these commands if the characters look bad and
" can't be fixed.  Conversely, to use the characters even if vimrc.local
" disabled them, uncomment the commands and assign a truthy value.  See
" gvimrc and vimrc.local.sample.)
"if 1
"	let g:mbyte_opts = 0
"endif

" Add non-ASCII characters to listchars and (if using UTF-8) showbreak.
" (Uncomment this command ONLY if Vim does not have +eval.  If Vim has
" +multi_byte, source the file corresponding to `encoding`.  Otherwise,
" if the terminal uses a single-byte encoding, source a suitable option
" from mbyte_opts/sb.  [Vim mishandles multibyte characters without
" +multi_byte.]  See gvimrc, mbyte_opts/auto.vim, mbyte_opts/mb/*.vim,
" and mbyte_opts/sb/*.vim.)
"runtime mbyte_opts/[ms]b/ENCODING.vim
