" vimrc.local.sample
" ------------------
"
" SPDX-License-Identifier: CC0-1.0
"
" Written in 2021, 2023, 2025 by Lawrence Velazquez <vq@larryv.me>.
"
" To the extent possible under law, the author has dedicated all
" copyright and related and neighboring rights to this software to the
" public domain worldwide.  This software is distributed without any
" warranty.
"
" You should have received a copy of the CC0 Public Domain Dedication
" along with this software.  If not, see
" <https://creativecommons.org/publicdomain/zero/1.0/>.


" Copy to vimrc.local and edit to taste.


" https://ethanschoonover.com/solarized/
" Do this locally because (I believe) I have to configure the terminal's
" colors correctly for this to look right.
if 1
	try
		colorscheme solarized
	catch /\m\C^Vim(colorscheme):E185:/
	endtry
endif

" Reset modelines.  (Uncomment these commands ONLY if Vim lacks +eval
" and has patches 7.0.234 and 7.0.235.  See vimrc and README.markdown.)
"set modeline&
"set modelines&

" When I use paper, I use patriotic American paper.
set printoptions+=paper:letter

" Use non-ASCII characters for certain options.  Do this locally (and
" separately for the GUI) because the characters don't look great in
" some fonts/terminals/whatever.  (If +eval is unavailable, comment out
" the 'if' and 'endif' lines.)
if !has('gui_running') && &encoding ==? 'utf-8'
	runtime set_opts.utf-8.vim
endif
