" vimrc.local.sample
" ------------------
"
" Written in 2021 by Lawrence Velázquez <vq@larryv.me>.
"
" To the extent possible under law, the author(s) have dedicated all
" copyright and related and neighboring rights to this software to the
" public domain worldwide.  This software is distributed without any
" warranty.
"
" You should have received a copy of the CC0 Public Domain Dedication
" along with this software.  If not, see
" <http://creativecommons.org/publicdomain/zero/1.0/>.
"
" SPDX-License-Identifier: CC0-1.0


" Copy to home directory and edit to taste.


" https://ethanschoonover.com/solarized/
silent! colorscheme solarized

" When I use paper, I use patriotic American paper.
set printoptions+=paper:letter
